.button{
  background-color:goldenrod;
  padding:0.5rem;
  border-radius:0.5rem;
  color:white;

}
.button:hover{
  background-color:green;
  color:white;
}
.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-gap: 10px; /* Adjust the gap between videos as needed */
}

/* Optionally, you can style the VideoPlayer component */
.video-grid video {
  width: 100%; /* Ensure the videos fill their grid cell */
  height: auto; /* Maintain aspect ratio */
}

.footer{
 position:fixed; 
 bottom: 0;
 left:0;
 right:0;
 z-index:-1;
 padding: 2rem;
 display: flex;
 justify-content: center;

}

