.button{
  background-color:goldenrod;
  padding:0.5rem;
  border-radius:0.5rem;
  color:white;

}
.button:hover{
  background-color:green;
  color:white;
}
.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
